{%extends 'myapp/basic.html'%}
{% block title%}Home{% endblock %}

{% block body %}
    {% load static %} 

    <div>
          <img src="{% static 'myapp/a.jpg'%}" class="d-block w-100 " style="max-height: 600px; object-fit: cover;" alt="...">
    </div>

      
      <h1 style="margin-left: 3%; margin-top: 3%; font-weight: 600;">Top Songs</h1>
      
 
      <div class="row g-4" style=" margin: 2%;">
        
        {% for i in song %}
        <div class="col">
          <div class="card h-100 w-100" >
            <a href="/myapp/songs/{{ i.song_id }}">
            <img src="media/{{i.image}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <div class="row" style="justify-content: space-between; ">
                <div>
                  <h5 class="card-title"><b>{{i.name}}</b></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>

    
      {% endblock %}